---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set today = "" | dateISO %}
{%- for key, r in routes %}
{%- if r.en and r.id %}
  <url><loc>{{ site.baseUrl }}{{ r.en.url }}</loc><lastmod>{{ today }}</lastmod></url>
  <url><loc>{{ site.baseUrl }}{{ r.id.url }}</loc><lastmod>{{ today }}</lastmod></url>
{%- endif %}
{%- endfor %}
{%- for post in collections.customPage %}
  <url><loc>{{ site.baseUrl }}{{ post.url }}</loc><lastmod>{{ post.date | dateISO }}</lastmod></url>
{%- endfor %}
</urlset>
